step_function_json/state_machine.json
{
	"Comment": "Basic step function process to Validate IP and cellphone",
	"StartAt": "Validate",
	"States": {
		"Validate": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:us-east-2:455974732880:function:validate-ip-phone",
			"Next": "Parallel"
		},
		"Parallel": {
			"Type": "Parallel",
			"Branches": [{
					"StartAt": "Tag",
					"States": {
						"Tag": {
							"Type": "Task",
							"Resource": "arn:aws:lambda:us-east-2:455974732880:function:tag-code",
							"End": true
						}
					}
				},{
					"StartAt": "Sentiment",
					"States": {
						"Sentiment": {
							"Type": "Task",
							"Resource": "arn:aws:lambda:us-east-2:455974732880:function:sentiment-analysis",
							"End": true
						}
					}
				}
			],
			"Next": "Publish"
		},
		"Publish": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:us-east-2:455974732880:function:publish-code",
			"Next": "CreatePreSignedUrl"
		},
		"CreatePreSignedUrl": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:us-east-2:455974732880:function:create-pre-signed-urls",
			"Next": "SendText"
		},
		"SendText": {
			"Type": "Task",
			"Resource": "arn:aws:states:::sns:publish",
			"Parameters": {
				"Message.$": "$.message_str",
				"PhoneNumber.$": "$$.Execution.Input.cellphone_str"
			},
			"End": true
		}
	}
}